@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100% ;
    display: flex;
    align-items: center;
    /* background: linear-gradient(135deg, #b336da 10% , #d19cce 100%); */
    background-image: url(bg_menu.jpg);
    color: #f3f1f7;
}
body::before,
body::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
}
body::before{
    clip-path: circle(30% at left 20%);
    background: linear-gradient(135deg,#bf8acf 10%,
        #d19cce 100%);
}
body::after{
    clip-path: circle(25% at right 80%);
    background: linear-gradient(135deg, #bf8acf 10%,
        #d19cce 100% );
}
header{
    height: 85vh;
    width: 90%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    margin: auto;
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
    z-index: 12;
}
header .navbar{
    width: 100%;
    display: flex;
    padding: 35px 50px;
    justify-content: space-between;
}
 header .navbar .logo {

    font-size: 22px;
    font-weight: 500;
    color: #5717ac;
    text-decoration: none;
} 
header .navbar .menu{
    display: flex;
}

.navbar .menu li{
    list-style: none;
    margin: 0 8px;
}
.navbar .menu a{
    text-decoration: none;
    color: rgb(211, 152, 235);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.navbar .menu a:hover{
    color: #C69B7B ;
}
.text-content,
.content-database{
    width: 40%;
    margin: 50px 0 0 50px;
}
.text-content h2{
    font-size: 27px;
    font-weight: 600;
}
.text-content p{
    margin-top: 10px;
    font-size: 15px;
    color: #f3f1f7;
}
.content-database h2{
    text-align: center;
}

/*style database.php */
.wrapper {
    width: 1000px;
    margin: 0 auto;
    color: #f3f1f7;
}
table tr td:last-child {
    width: 120px;
    color: #d4c6e6;
}
/* style funfact.php*/
/* .wrapper1 {
    height: 80px;
    width: 80px;
} */


/* membuat responsive */
@media (max-width: 8000px) {
    header .navbar{
        flex-direction: column;
        align-items: center;
    }
    .navbar .menu {
        margin: 10px 0 20px 0;
    }
    .text-content {
        width: 100%;
        margin: 20px 0 0 20px;
    }
    .content-database{
        align-items: center;
    }
    .wrapper{
        width: 100%;
    }
}

@media (max-width:800px){
    header {
        height: 1000vh;
        width: 100%;
        border-radius: 0;
    }
}
